fitos/automation/n8n/grocery-list-trigger.json
{
  "name": "FitOS - Weekly Grocery List Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 6" }]
        }
      },
      "id": "4a5b6c7d-0005-4a10-9a10-000000000001",
      "name": "Saturday 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-700, 0],
      "notes": "Fires every Saturday morning so groceries can be bought over the weekend for the week that starts the following Monday."
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst day = now.getUTCDay();\nconst daysUntilMonday = day === 0 ? 1 : 8 - day;\nconst monday = new Date(now);\nmonday.setUTCDate(now.getUTCDate() + daysUntilMonday);\nreturn [{ json: { week_start_date: monday.toISOString().slice(0, 10) } }];"
      },
      "id": "4a5b6c7d-0005-4a10-9a10-000000000002",
      "name": "Compute Upcoming Monday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-460, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FITOS_API_BASE_URL }}/generate-grocery-list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-fitos-webhook-secret", "value": "={{ $env.FITOS_WEBHOOK_SECRET }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $env.FITOS_USER_ID, week_start_date: $('Compute Upcoming Monday').item.json.week_start_date }) }}",
        "options": {}
      },
      "id": "4a5b6c7d-0005-4a10-9a10-000000000003",
      "name": "Generate Grocery List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-220, 0],
      "notes": "Requires that week's meal plan already exist - the meal-plan-generator-trigger runs the Sunday before, so run this workflow AFTER that one has completed at least once, or manually trigger /generate-week-plan first."
    },
    {
      "parameters": {
        "jsCode": "const byCategory = $json.items_by_category || {};\nconst lines = [];\nfor (const [category, items] of Object.entries(byCategory)) {\n  lines.push(`*${category.toUpperCase()}*`);\n  for (const item of items) {\n    const pantryNote = item.already_in_pantry ? ' (have it)' : '';\n    lines.push(`- ${item.name}: ${item.quantity}${pantryNote}`);\n  }\n}\nreturn [{ json: { message: `Grocery list for week of ${$('Compute Upcoming Monday').item.json.week_start_date}:\\n\\n` + lines.join('\\n') } }];"
      },
      "id": "4a5b6c7d-0005-4a10-9a10-000000000004",
      "name": "Format Grocery Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [20, 0]
    },
    {
      "parameters": {
        "workflowId": { "value": "={{ $env.FITOS_TELEGRAM_SENDER_WORKFLOW_ID }}" },
        "workflowInputs": {
          "value": {
            "chat_id": "={{ $env.FITOS_TELEGRAM_CHAT_ID }}",
            "message": "={{ $json.message }}",
            "reminder_id": ""
          }
        }
      },
      "id": "4a5b6c7d-0005-4a10-9a10-000000000005",
      "name": "Send Grocery List via Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [260, 0]
    }
  ],
  "connections": {
    "Saturday 8AM": {
      "main": [[{ "node": "Compute Upcoming Monday", "type": "main", "index": 0 }]]
    },
    "Compute Upcoming Monday": {
      "main": [[{ "node": "Generate Grocery List", "type": "main", "index": 0 }]]
    },
    "Generate Grocery List": {
      "main": [[{ "node": "Format Grocery Message", "type": "main", "index": 0 }]]
    },
    "Format Grocery Message": {
      "main": [[{ "node": "Send Grocery List via Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
