fitos/automation/n8n/weekly-schedule-trigger.json
{
  "name": "FitOS - Weekly Schedule Upload Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fitos-schedule-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2a3b4c5d-0003-4a10-9a10-000000000001",
      "name": "Webhook: Schedule Submitted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0],
      "webhookId": "fitos-schedule-upload",
      "notes": "Called by the Next.js dashboard's weekly schedule form (or any external form) with body: { user_id, week_start_date, days: [...7 entries] }."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FITOS_API_BASE_URL }}/upload-schedule",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-fitos-webhook-secret", "value": "={{ $env.FITOS_WEBHOOK_SECRET }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.body.user_id, week_start_date: $json.body.week_start_date, days: $json.body.days }) }}",
        "options": {}
      },
      "id": "2a3b4c5d-0003-4a10-9a10-000000000002",
      "name": "Upload Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-560, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FITOS_API_BASE_URL }}/generate-week-plan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-fitos-webhook-secret", "value": "={{ $env.FITOS_WEBHOOK_SECRET }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $('Webhook: Schedule Submitted').item.json.body.user_id, week_start_date: $('Webhook: Schedule Submitted').item.json.body.week_start_date }) }}",
        "options": {}
      },
      "id": "2a3b4c5d-0003-4a10-9a10-000000000003",
      "name": "Generate Week Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-320, 0],
      "notes": "Runs the full AI Planner Core: meals, workouts, reminders, grocery list are all generated and persisted in this one call."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FITOS_API_BASE_URL }}/me",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "user_id", "value": "={{ $('Webhook: Schedule Submitted').item.json.body.user_id }}" }]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-fitos-webhook-secret", "value": "={{ $env.FITOS_WEBHOOK_SECRET }}" }]
        },
        "options": {}
      },
      "id": "2a3b4c5d-0003-4a10-9a10-000000000004",
      "name": "Fetch Profile (for Telegram chat id)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-80, 0]
    },
    {
      "parameters": {
        "workflowId": { "value": "={{ $env.FITOS_TELEGRAM_SENDER_WORKFLOW_ID }}" },
        "workflowInputs": {
          "value": {
            "chat_id": "={{ $json.telegram_chat_id }}",
            "message": "=Your week of {{ $('Webhook: Schedule Submitted').item.json.body.week_start_date }} is planned! Meals, workouts, reminders and your grocery list are ready. Send /week to review it anytime.",
            "reminder_id": ""
          }
        }
      },
      "id": "2a3b4c5d-0003-4a10-9a10-000000000005",
      "name": "Notify via Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [160, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"planned\", \"week_start_date\": $('Webhook: Schedule Submitted').item.json.body.week_start_date } }}",
        "options": {}
      },
      "id": "2a3b4c5d-0003-4a10-9a10-000000000006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [400, 0]
    }
  ],
  "connections": {
    "Webhook: Schedule Submitted": {
      "main": [[{ "node": "Upload Schedule", "type": "main", "index": 0 }]]
    },
    "Upload Schedule": {
      "main": [[{ "node": "Generate Week Plan", "type": "main", "index": 0 }]]
    },
    "Generate Week Plan": {
      "main": [[{ "node": "Fetch Profile (for Telegram chat id)", "type": "main", "index": 0 }]]
    },
    "Fetch Profile (for Telegram chat id)": {
      "main": [[{ "node": "Notify via Telegram", "type": "main", "index": 0 }]]
    },
    "Notify via Telegram": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
